[Unit]
Description=Moody core engine
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/moody-core -c /etc/moody/conf.json
ExecStop=/bin/kill -s TERM $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target